.container {
    max-width: 800px; 
    margin: 50px;   
    padding: 20px; 
    background-color: #e6e6ed; 
    border: 1px solid #4a4e53;  
   
  }
  
  .container h2 {
    margin-top: 20px; 
    font-weight: bolder;
  }

  .container p {
    margin-top: 20px; 
    font-weight: bolder;
    padding: 10px;
  }
  
  .detalle {
border: 1px solid gray; 

  }

  .container form {
    margin-top: 20px;
    
      
  }
  
  
  .container form .form-label {
    font-weight: bold; 
  }
  
  .container form .form-control {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #1d568f; 
    border-radius: 5px; 
    border-color: black;
  }
  
  .container form .btn-primary {
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
    background-color: #728dab; 
    color: #fff; 
    cursor: pointer; 
  }
  
 
  .container form p {
    margin-bottom: 10px; 
  }
  
 
 